/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.col-1 {
  display: flex;
  float: right;
  width: 32%;
  align-self: flex-end;
  justify-content: space-around;
}

.col-2 {
  display: flex;
  float: left;
  width: 64%;
  align-self: flex-end;
  justify-content: space-around;
}

.col-3 {

}
